<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document Updated</title>
</head>

<body>
    <div style="background-color: #f2f2f2; padding: 20px; font-family: Arial, sans-serif;">
        <h2 style="color: #333;">The file status has been changed to "{{ file.get_status_display }}"</h2>
        <p>Dear Student,</p>
        <p>In your application the {{ file.document_type.title_en }} file has been updated.</p>
        <p>Please visit the web site to check the updated details:</p>

        <p>Best regards,<br>IITU</p>
    </div>
</body>

</html>